<footer class="footer text-white d-flex align-items-center p-2 bg-custom">
	<p class="lead text-center text-light w-100">
		Fonte: Secretarias de Saúde das Unidades Federativas, dados tratados por
		<a href="https://twitter.com/turicas" target="_blank">
			Álvaro Justen
		</a>
		e
		<a href="https://brasil.io/contribuidores" target="_blank">
			colaboradores</a
		>
		/
		<a href="http://brasil.io">Brasil.IO</a>.
	</p>
</footer>