<footer class="footer text-white text-md-left align-items-center mt-auto bg-custom">
	<div class="container p-3">
		<div class="row">
			<div class="col-md-6 mb-3">
				<h1>
					<a href="/">
						COVID19 RN
					</a>
				</h1>
				<p class="lead">
					Ferramenta de monitoramento do avanço da covid-19 no RN, de potiguares para potiguares.
				</p>
			</div>
			<div class="col-md-6 mb-3">
				<h2>Compartilhe</h2>
				<ul class="share-buttons">
					<li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fcovidrn.live&quote=Ferramenta%20de%20monitoramento%20do%20avan%C3%A7o%20da%20covid-19%20no%20RN%2C%20de%20potiguares%20para%20potiguares%3A%20http%3A%2F%2Fcovidrn.live"
							title="Share on Facebook" target="_blank"><img alt="Share on Facebook"
								src="images/flat_web_icon_set/color/Facebook.png" /></a></li>
					<li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fcovidrn.live&text=Ferramenta%20de%20monitoramento%20do%20avan%C3%A7o%20da%20covid-19%20no%20RN%2C%20de%20potiguares%20para%20potiguares%3A%20http%3A%2F%2Fcovidrn.live"
							target="_blank" title="Tweet"><img alt="Tweet"
								src="images/flat_web_icon_set/color/Twitter.png" /></a>
					</li>
					<li><a href="https://plus.google.com/share?url=http%3A%2F%2Fcovidrn.live" target="_blank"
							title="Share on Google+"><img alt="Share on Google+"
								src="images/flat_web_icon_set/color/Google+.png" /></a>
					</li>
					<li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fcovidrn.live&title=Ferramenta%20de%20monitoramento%20do%20avan%C3%A7o%20da%20covid-19%20no%20RN%2C%20de%20potiguares%20para%20potiguares%3A%20http%3A%2F%2Fcovidrn.live"
							target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit"
								src="images/flat_web_icon_set/color/Reddit.png" /></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<h2>Links</h2>
				<ul class="list-group list-unstyled">
					<li class="list-item">
						<a href="/">
							Inicio
						</a>
					</li>
					<li>
						<a href="/noticias">
							Notícias
						</a>
					</li>
					<li>
						<a href="/graficos">
							Gráficos
						</a>
					</li>
					<li>
						<a href="/sobre">
							Sobre
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-6 mb-3">
				<h2>Fontes</h2>
				<p class="lead text-light w-100">
					Secretarias de Saúde das Unidades Federativas, dados tratados por
					<a href="https://twitter.com/turicas" target="_blank">
						Álvaro Justen
					</a>
					e
					<a href="https://brasil.io/contribuidores" target="_blank">
						colaboradores</a>
					/
					<a href="http://brasil.io">Brasil.IO</a>.
				</p>
			</div>
		</div>
	</div>
	<div class="col text-center bg-dark p-2">
		<p class="lead">
			Informações sobre o COVID-19 de forma simples e direta.
		</p>
	</div>
</footer>