<%- include("../partials/header") %>

<div class="container-fluid text-light h-100 bg-dark">
    <div class="row">
        <section class="col-md-12 jumbotron rounded-0 text-center bg-none align-middle">
            <h1 class="display-1">Página não encontrada :/</h1>
            <p class="lead">Clique no botão abaixo para ser redirecionado</p>
            <a href="/inicio" class="btn btn-lg btn-info">Inicio</a>
        </section>
    </div>
</div>

<%- include("../partials/scripts") %>
<%- include("../partials/footer") %>