<%- include("../partials/header") %>

<div class="container-fluid text-dark h-100 bg-light">
    <div class="row">
        <section class="col-md-12 jumbotron rounded-0 text-center align-middle bg-light">
            <h1 class="display-1">Página não encontrada :/</h1>
            <p class="lead">Clique no botão abaixo para ser redirecionado</p>
            <a href="/inicio" class="btn btn-lg text-light" style="background-color: darkgreen;">Inicio</a>
        </section>
    </div>
</div>

<%- include("../partials/scripts") %>
<%- include("../partials/footer") %>