<%- include("../partials/header", {title: "Noticias"}) %>
<div class="jumbotron text-center">
  <h1>Sobre</h1>
</div>

<!--Colocar aqui o conteúdo-->
<main class="jumbotron rounded-0 text-center align-middle bg-light m-auto">
  <div style = "width: 60%; margin:0 auto">
    <h2>O Projeto</h2>
    <p>Com o propósito de monitorar o avanço do novo coronavirus no RN, o
      Covid19-RN é uma iniciativa de alunos do curso de Informática do IFRN - Campus São Gonçalo do Amarante, que exibe o números de casos confirmados, e de óbitos pelo COVID-19 por municipio, de forma simples e direta. A ferramenta é software livre e o código fonte está hospedado no <a href = "https://github.com/allangabrielrod/COVID19-RN"> Github.</a>
    <p>Autores: <a href = "https://github.com/allangabrielrod" style="text-decoration: underline;">Allan Gabriel</a>, <a href = "https://github.com/jhonatacaiob" style="text-decoration: underline;">Jhonata Caio</a></p>
      
    <p>Orientador: <a href = "https://github.com/marmundo" style="text-decoration: underline;">Marcelo Damasceno</a></p>
      
    <p>Fale conosco: </br>
      Email: covidrn@outlook.com</br>
      Twitter: <a href = "twitter.com/covidrn">@covidrn</a>
    </p>
    <p><a href = "https://github.com/allangabrielrod/COVID19-RN/graphs/contributors" style="text-decoration: underline;">Contribuidores</a></p>
</div>
</main>

<%- include("../partials/footer") %> <%- include("../partials/scripts") %>
<script src="/js/index.js"></script>
</html>