.datatable {
	margin: auto;
}

.datatable > div {
	overflow-x: scroll;
}

.datatable thead {
	background-color: #0a8705;
	color: white;
}

.datatable thead th {
	font-weight: 400;
	white-space: nowrap;
}

@media (min-width: 576px) {
	.datatable > div {
		overflow-x: none;
	}
}

@media (min-width: 768px) {
	.datatable {
		overflow-x: none;
		width: 80%;
	}
}
