
#mapa{
  width: 80%;
  margin: auto;
}

legend{
  text-decoration: none;
  width: 100%;
}
legend ul{
  display: inline-block;
  width: 60%;
  margin: 0 20%;
}
legend ul li{
  display: inline-block;
  margin: 0 5px;
}
legend ul li p{
  font-size: 0.5em;
  display: inline-block;;
}
.caixa-colorida{
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  margin-right: 5px;
}

#mapa svg {
  display: block;
  fill-rule: evenodd;
  height: calc(62vw - 2rem);
  image-rendering: optimizeQuality;
  margin: auto;
  max-height: 615px;
  max-width: 992px;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  width: 100%;
}

#mapa svg path {
  fill: #fff;
  stroke: #646464;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-width: 20rem;
}
#mapa path.fill-1 {
  fill: rgba(10, 135, 5, 0.325);
}
#mapa path.fill-2 {
  fill: rgba(10, 135, 5, 0.5);
}
#mapa path.fill-3 {
  fill: rgba(10, 135, 5, 0.625);
}
#mapa path.fill-4 {
  fill: rgba(10, 135, 5, 0.75);
}
#mapa path.fill-5 {
  fill: rgba(10, 135, 5, 0.875);
}
#mapa path.fill-6 {
  fill: rgba(10, 135, 5, 1);
}
