#mapa legend {
  text-decoration: none;
  width: 100%;
}

#mapa legend ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#mapa legend ul li {
  align-items: center;
  display: flex;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  padding: 0px .625rem;
}

.caixa-colorida {
  display: block;
  height: 0.75rem;
  margin-right: .25rem;
  width: 0.75rem;
}

#mapa svg {
  display: block;
  fill-rule: evenodd;
  height: calc(62vw - 2rem);
  image-rendering: optimizeQuality;
  margin: auto;
  max-height: 615px;
  max-width: 992px;
  shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  width: 100%;
}

#mapa svg path {
  fill: #fff;
  stroke: #646464;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 1;
  stroke-width: 20rem;
}
#mapa .fill-1 {
  background-color: rgba(10, 135, 5, 0.375);
  fill: rgba(10, 135, 5, 0.375);
}
#mapa .fill-2 {
  background-color: rgba(10, 135, 5, 0.55);
  fill: rgba(10, 135, 5, 0.55);
}
#mapa .fill-3 {
  background-color: rgba(10, 135, 5, 0.7);
  fill: rgba(10, 135, 5, 0.7);
}
#mapa .fill-4 {
  background-color: rgba(10, 135, 5, 0.875);
  fill: rgba(10, 135, 5, 0.875);
}
#mapa .fill-5 {
  background-color: rgba(10, 135, 5, 1);
  fill: rgba(10, 135, 5, 1);
}

#mapa #message {
  background-color: rgba(0, 0, 0, .5);
  border-radius: .25rem;
  color: #fff;
  font-size: .75rem;
  left: -200%;
  padding: .25rem .5rem;
  position: absolute;
  z-index: 25;
}